name: Deep Lake benchmarks
on:
  workflow_call:
    inputs:
      benchmark_event:
        required: true
        type: string
      ref:
        required: true
        type: string
jobs:
  start-benchmark-instances:
    name: Start benchmark instances
    runs-on: self-hosted
    steps:
      - name: test
        shell: bash
        run: env
